@use "../abstracts/variables" as *;

.page-section {
  padding-top: 5rem;
  padding: 10rem 0;

  @media screen and (min-width: $large-screen) {
    padding: 18rem 0;
    background: url("/src/assets/images/illustration-editor-desktop.svg")
      no-repeat 110% center/42%;

    &--reverse {
      background: url("/src/assets/images/illustration-laptop-desktop.svg")
        no-repeat -5% center/40%;
    }
  }

  @media screen and (min-width: $very-large-screen) {
    padding:25rem 0;
    border:1px solid black;
  }

  .section-title {
    font-size: 2.4rem;
    font-family: "Overpass";
    color: $section-title-color;
    text-align: center;
    padding-bottom: 3.5rem;

    @media screen and (min-width: $large-screen) {
      padding-bottom: 10rem;
    }
  }

  &:nth-child(2) {
    padding-top: 15rem;
  }

  .section-information {
    position: relative;
    &__content {
      margin: 2rem 0;

      &__title {
        font-size: 2.4rem;
        font-family: "Overpass";
        color: $section-title-color;
        text-align: center;
        width: 75%;
        margin: 0 auto;
        padding-bottom: 1.5rem;

        &:not(:first-child){
          padding-top: 3rem;
        }
      }

      &__text {
        color: $section-content-text-color;
        font-family: "Overpass";
        line-height: 1.8;
        text-align: center;
        font-weight: 400;
      }
    }

    &__picture{
      margin:0 auto;
      display:block;
    }

    @media screen and (min-width: $large-screen) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "text space";

      &__content {
        grid-area: text;
        &__text,
        &__title {
          text-align: left;
          margin: 0;
        }
      }

      &__picture {
        display: none;
      }

      &--reverse {
        grid-template-areas: "space text";
      }
    }
  }

  &--blue {
    background: url("/src/assets/images/bg-pattern-circles.svg") no-repeat 50% -30rem/
        150%,
      $section-dark-background-color;
    border-radius: 0 20% 0 20%;
    min-height: 50rem;

    @media screen and (min-width: $large-screen){
      padding:0;
      min-height: 40rem;
    }

    .section-information {
      grid-template-areas: "space text";
      &__content__text,
      .section-title {
        color: darken(white, 7%);
      }

      .section-title {
        padding-top: 17rem;

        @media screen and (min-width: $large-screen){
          padding: 0;
          padding-bottom: 1rem;
          text-align:left;
        }
      }

      &__picture {
        position: absolute;
        top: -60%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 350px;

        @media screen and (min-width: $large-screen){
          display: block;
          top:-130%;
          left:0;
          transform: translate(0);
          max-width:100%;
        }
      }
    }
  }
}
