main {
  display: grid;
  gap:2.5rem;
  grid-template-rows: auto 1fr;
}

.input-display {
  border-radius: 10px;
  padding: 1.3em 1em;

  &__text {
    text-align: right;
    font-size: 3.2rem;
    padding:0;
  }
}

.calc-input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 2.5rem;
  gap: 1.6rem;
  border-radius: 10px;

  &__option {
    &--reset,
    &--equal {
      grid-column: span 2;
    }
  }
}
