main {
  display: grid;
  gap: 2.5rem;
  grid-template-rows: auto 1fr;

  @media screen and (min-width: 900px) {
    height: 60rem;
  }
}

.input-display {
  border-radius: 10px;
  height: 10rem;
  padding: 0 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (min-width: 900px) {
    // padding: 2em 1em;
  }

  &__text {
    text-align: right;
    font-size: clamp(3.2rem, 3vw, 4rem);
  }
}

.calc-input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 2.5rem;
  gap: 1.6rem;
  border-radius: 10px;

  @media screen and (min-width: 900px) {
    gap: 3rem;
  }

  &__option {
    &--reset,
    &--equal {
      grid-column: span 2;
    }
  }
}
