header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.2rem;

  .app-title {
    font-size: 3.2rem;
  }

  .theme-select {
    display: flex;
    justify-content: center;
    align-items: center;

    &__tab {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      transform-origin: center;
      transition: transform 0.3s ease-in-out;
    }

    &__text {
      padding-right: 2rem;
      text-transform: uppercase;
      align-self: flex-end;
    }

    &__labels {
      display: flex;
      justify-content: space-around;
      padding-bottom: 0.1rem;
    }

    &__row {
      width: 8rem;
      height: 3rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 25px;
      position: relative;
    }

    &__option {
      opacity: 0;
    }

    &__theme {
      display: flex;
      flex-direction: column;
      text-align: center;
      position: relative;
    }
  }
}
