@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.info-two-column {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  &__content {
    padding: 5rem 1rem;
    order: 1;
    & > *:not(:last-child) {
      padding-bottom: 3rem;
    }
  }
  &__title {
    font-family: Fraunces;
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: 900;
    color: $transform-standout-title-color;
  }

  &__text {
    font-family: $barlow-font;
    font-weight: 600;
    color: $transform-standout-color;
  }

  &__link {
    color: $transform-standout-link-color;
    font-family: $fraunces-font;
    font-weight: 900;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      width: 110%;
      height: 7px;
      background-color: lighten($color: $yellow-link, $amount: 30%);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 70%;
      z-index: -1;
      border-radius: 5px;
    }
  }

  &--reverse {
    .info-two-column__link::after {
      background-color: lighten($color: $red-link, $amount: 20%);
    }
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

    &__image img {
      height: 100%;
      width: 100%;
    }

    &--reverse {
      .info-two-column__content {
        order:0;
      }
    }
  }
}

.info-one-column {
  &__content {
    min-height: 50rem;
    display: flex;
    padding: 5rem 0;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
  }

  &__title {
    font-family: $fraunces-font;
    font-weight: 900;
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }

  &__content:first-child {
    background: url("/src/assets/images/mobile/image-graphic-design.jpg")
      no-repeat center center/cover;

    .info-one-column__title {
      color: $graphic-design-title-green;
    }

    .info-one-column__text {
      font-family: $barlow-font;
      color: $graphic-design-section-text-green;
    }

    @media screen and (min-width: 768px) {
      background: url("/src/assets/images/desktop/image-graphic-design.jpg")
        no-repeat top center/cover;
    }
  }

  &__content:last-child {
    background: url("/src/assets/images/mobile/image-photography.jpg") no-repeat
      center center/cover;

    .info-one-column__title {
      color: $photography-design-title-blue;
    }

    .info-one-column__text {
      font-family: $barlow-font;
      color: $photography-design-text-blue;
    }

    @media screen and (min-width: 768px) {
      background: url("/src/assets/images/desktop/image-photography.jpg")
        no-repeat top center/cover;
    }
  }

  @media screen and (min-width: 768px) {
    min-height: 50vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.clients {
  padding: 6rem 0;

  h2 {
    font-family: $fraunces-font;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 3px;
    color: $testimonial-head-text;
  }

  &__display {
    @include basic-flex-layout(column, space-around, center, 2.5rem);
  }

  &__testimonial {
    margin-top: 5rem;
    > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__image {
    width: 70px;
    height: 70px;
    margin: 0 auto;

    img {
      border-radius: 50%;
    }
  }

  &__text {
    text-align: center;
    font-family: $barlow-font;
    color: $testimonial-client-text;
  }

  &__info {
    text-align: center;
  }

  &__name {
    font-family: $fraunces-font;
    color: $testimonial-client-name;
  }

  &__title {
    font-family: $barlow-font;
    color: $testimonial-client-title;
    font-size: 1.6rem;
    margin-top: 0.3rem;
  }
}

.image-gallery {
  display: grid;
  @include basic-grid-layout(2, 1fr, 0);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
