/* Style Resets */
:root {
  /* Light Theme Colors */
  --lighttheme-very-light-gray: hsl(0, 0%, 98%);
  --lighttheme-very-light-grayish-blue: hsl(236, 33%, 92%);
  --lighttheme-light-grayish-blue: hsl(233, 11%, 84%);
  --lighttheme-dark-grayish-blue: hsl(236, 9%, 61%);
  --lighttheme-very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme Colors */
  --darktheme-very-dark-blue: hsl(235, 21%, 11%);
  --darktheme-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --darktheme-light-grayish-blue: hsl(234, 39%, 85%);
  --darktheme-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --darktheme-dark-grayish-blue: hsl(234, 11%, 52%);
  --darktheme-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --darktheme-very-dark-grayish-blue-lighter: hsl(237, 14%, 26%);

  /* Static CSS Colors */
  --task-selection-text-active: hsl(220, 98%, 61%);

  font-size: 18px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2;
}

/* General Classes and Styling */
body {
  min-height: 100vh;
  background: url("../images/bg-mobile-light.jpg") no-repeat,
    var(--page-background);
  background-size: 100%;
  font-family: "Josefin Sans", sans-serif;
}

body.dark {
  background: url("../images/bg-mobile-dark.jpg") no-repeat,
    var(--page-background);
  background-size: 100%;
}

.container {
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.4rem;
  margin-bottom: 0;
}

/* Page Title */
.page-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-title h1 {
  color: hsl(0, 0%, 98%);
  font-size: 1.6rem;
  letter-spacing: 10px;
  margin-bottom: 1rem;
}

.page-title img:hover {
  cursor: pointer;
}
/* Task Styling */
.task {
  background-color: var(--task-background-color);
  color: var(--task-text-color);
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 55px;
  padding: 0 0.8em;
  font-size: 0.75rem;
}

/* Task checkbox */
.task .task-status {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.task .task-status input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.task .task-status .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--check-border-color);
  border-radius: 100%;
}

.task .task-status:hover input ~ .checkmark {
  background: linear-gradient(150deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.task .task-status input:checked ~ .checkmark {
  background: linear-gradient(150deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.task .task-status .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.task .task-status input:checked ~ .checkmark::after {
  display: block;
}

.task .task-status .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Task name and deletion button */
.task .task-name {
  margin-top: 0.2rem;
  cursor: pointer;
}

.task.checked .task-name {
  text-decoration: line-through;
  opacity: 0.4;
}

.task .task-delete {
  display: inline-block;
  margin-left: auto;
  height: 15px;
  cursor: pointer;
}

/* New Task */
.task.new-task {
  margin-bottom: 0.8rem;
  border-radius: 5px;
}

.task-input form {
  display: flex;
}

.task.new-task .task-input input {
  color: var(--task-text-color-new);
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0.2em;
  background-color: var(--task-background-color);
  margin-top: 0.15rem;
  margin-left: 0.5rem;
}

.task.new-task .task-input input:focus {
  color: var(--task-text-color);
}

/* Task List */
.task-list .task {
  border-bottom: 1px solid var(--task-bottom-border-color);
}

.task-list .task:first-child {
  border-radius: 5px 5px 0 0;
}

/* Task List Stats */
.task-section .stats {
  background-color: var(--task-background-color);
  border-radius: 0 0 5px 5px;
  font-size: 0.7rem;
  color: var(--status-text-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.8em;
}

/* Task Type Selection */
.task-section .task-selection {
  background-color: var(--task-background-color);
  padding: 0.7rem 0.8em;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 5px;
}

.task-section .task-selection .task-type {
  background: transparent;
  color: var(--task-selection-text);
  border: none;
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
}

.task-section .stats .task-selection.desktop {
  padding: 0;
  margin: 0;
  display: none;
}

.task-section .stats .task-selection.desktop .task-type {
  font-size: 0.8rem;
}

.task-section .task-selection .task-type:hover {
  color: var(--task-selection-text-hover);
}

.task-section .task-selection .task-type.type-active {
  color: var(--task-selection-text-active);
}

.task-section .task-selection .task-type + .task-type {
  margin-left: 0.8rem;
}

.task-section .stats .task-cleared:hover {
  color: var(--task-selection-text-hover);
  cursor: pointer;
}

/* Page Instructions */
.instructions {
  text-align: center;
  font-size: 0.75rem;
  margin-top: 2rem;
  color: var(--instruction-text-color);
}
/* Front end mentor Styling */
/* .attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

/* Desktop Styling */
@media (min-width: 600px) {
  body {
    background: url("../images/bg-desktop-light.jpg") no-repeat,
      var(--page-background);
    background-size: 100% 200px;
  }

  body.dark {
    background: url("../images/bg-desktop-dark.jpg") no-repeat,
      var(--page-background);
    background-size: 100% 200px;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  body,
  body.dark {
    background-size: 100% 250px;
  }
  .container {
    margin-top: 4rem;
  }

  .task .task-delete {
    display: none;
  }

  .task:hover .task-delete {
    display: block;
  }

  .task-section .task-selection.mobile {
    display: none;
  }

  .task-section .stats .task-selection.desktop {
    display: block;
  }
}

/* Light/Dark Theme attribute toggle */
body[data-theme="light"] {
  --page-background: var(--lighttheme-very-light-grayish-blue);
  --task-background-color: var(--lighttheme-very-light-gray);
  --task-text-color: var(--lighttheme-very-dark-grayish-blue);
  --task-text-color-new: var(--lighttheme-dark-grayish-blue);
  --task-bottom-border-color: var(--lighttheme-very-light-grayish-blue);
  --check-border-color: var(--lighttheme-light-grayish-blue);
  --status-text-color: var(--lighttheme-dark-grayish-blue);
  --task-selection-text: var(--lighttheme-dark-grayish-blue);
  --task-selection-text-hover: var(--lighttheme-very-dark-grayish-blue);
  --instruction-text-color: var(--lighttheme-dark-grayish-blue);
}

body[data-theme="dark"] {
  --page-background: var(--darktheme-very-dark-blue);
  --task-background-color: var(--darktheme-very-dark-desaturated-blue);
  --task-text-color: var(--darktheme-light-grayish-blue);
  --task-bottom-border-color: var(--darktheme-very-dark-grayish-blue-lighter);
  --check-border-color: var(--darktheme-very-dark-grayish-blue-lighter);
  --status-text-color: var(--darktheme-dark-grayish-blue);
  --task-selection-text-hover: var(--darktheme-light-grayish-blue-hover);
  --task-selection-text: var(--darktheme-dark-grayish-blue);
  --instruction-text-color: var(--darktheme-dark-grayish-blue);
}
