/* Style Resets */
:root {
  /* Light Theme Colors */
  --lighttheme-very-light-gray: hsl(0, 0%, 98%);
  --lighttheme-very-light-grayish-blue: hsl(236, 33%, 92%);
  --lighttheme-light-grayish-blue: hsl(233, 11%, 84%);
  --lighttheme-dark-grayish-blue: hsl(236, 9%, 61%);
  --lighttheme-very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme Colors */
  --darktheme-very-dark-blue: hsl(235, 21%, 11%);
  --darktheme-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --darktheme-light-grayish-blue: hsl(234, 39%, 85%);
  --darktheme-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --darktheme-dark-grayish-blue: hsl(234, 11%, 52%);
  --darktheme-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --darktheme-very-dark-grayish-blue-ligher: hsl(237, 14%, 26%);

  /* Page Color Variables */
  --page-background: var(--lighttheme-very-light-grayish-blue);
  --task-background-color: var(--lighttheme-very-light-gray);
  --task-text-color: var(--lighttheme-very-dark-grayish-blue);
  --task-text-color-new: var(--lighttheme-dark-grayish-blue);
  --status-border-color: var(--lighttheme-light-grayish-blue);

  font-size: 18px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2;
}

/* General Classes and Styling */
body {
  min-height: 100vh;
  background: url("../images/bg-mobile-light.jpg") no-repeat,
    var(--page-background);
  font-family: "Josefin Sans", sans-serif;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 2.4rem auto;
}

/* Page Title */
.page-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-title h1 {
  color: hsl(0, 0%, 98%);
  font-size: 1.6rem;
  letter-spacing: 10px;
  margin-bottom: 1rem;
}

.page-title img:hover {
  cursor: pointer;
}
/* Task Styling */
.task {
  background-color: var(--task-background-color);
  color: var(--task-text-color);
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 50px;
  padding: 0 0.8em;
  font-size: 0.8rem;
}

/* Task checkbox */
.task .task-status {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.task .task-status input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.task .task-status .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--lighttheme-light-grayish-blue);
  border-radius: 100%;
}

.task .task-status:hover input ~ .checkmark {
  background: linear-gradient(150deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.task .task-status input:checked ~ .checkmark {
  background: linear-gradient(150deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.task .task-status .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.task .task-status input:checked ~ .checkmark::after {
  display: block;
}

.task .task-status .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Task name and deletion button */
.task .task-name {
  margin-top: 0.2rem;
}

.task .task-delete {
  display: inline-block;
  margin-left: auto;
  height: 15px;
  cursor: pointer;
}

/* New Task */
.task.new-task {
  margin-bottom: 0.8rem;
  border-radius: 5px;
}

.task.new-task .task-input input {
  color: var(--task-text-color-new);
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0.2em;
  background-color: var(--task-background-color);
  margin-top: 0.15rem;
}

/* Task List */
.task-list {
}

/* Front end mentor Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
