// Theme Three

// Backgrounds
$-very-dark-violet-1: hsl(268, 75%, 9%);
$-very-dark-violet-2: hsl(268, 71%, 12%);

// Keys
$-dark-violet: hsl(281, 89%, 26%);
$-vivid-magenta: hsl(285, 91%, 52%);
$-pure-cyan: hsl(176, 100%, 44%);
$-soft-cyan: hsl(177, 92%, 70%);
$-very-dark-violet-3: hsl(268, 47%, 21%);
$-dark-magenta: hsl(290, 70%, 36%);

// Text
$-light-yellow: hsl(52, 100%, 62%);
$-very-dark-blue: hsl(198, 20%, 13%);
$-white: hsl(0, 0, 100%);

// Applying Variables

// Backgrounds
$main-background: $-very-dark-violet-1;
$toggle-background: $-very-dark-violet-2;
$keypad-background: $-very-dark-violet-2;
$screen-background: $-very-dark-violet-2;

// Keys
$key-func-background: $-dark-violet;
$key-func-shadow: $-vivid-magenta;
$key-equal-background: $-pure-cyan;
$key-equal-shadow: $-soft-cyan;
$toggle-color: $-pure-cyan;
$key-nums-background: $-very-dark-violet-3;
$key-nums-shadow: $-dark-magenta;
$key-nums-text-color: $-light-yellow;

// Text
$light-text: $-white;
$light-yellow-text: $-light-yellow;
$dark-text: $-very-dark-blue;
