@use "../abstracts/theme-two-variables" as *;

.theme-2 {
  background: $main-background;

  .app-title {
    color: $dark-text;
  }

  .theme-select {
    &__text {
      color: $dark-text;
    }

    &__tab {
      background-color: $toggle-color;
    }

    &__labels {
      color: $dark-text;
    }

    &__row {
      background-color: $toggle-background;
    }

    &__tab{
      transform: translateX(0)
    }
  }

  .input-display {
    background-color: $screen-background;

    &__text {
      color: $dark-text;
    }
  }

  .calc-input {
    background-color: $keypad-background;

    &__option {
      background-color: $key-nums-background;
      box-shadow: 0 5px $key-nums-shadow;
      color: $key-nums-text-color;

      &:active {
        background-color: darken($key-nums-background, 5%);
      }

      &--delete,
      &--reset {
        background-color: $key-func-background;
        box-shadow: 0 5px $key-func-shadow;
        color: $light-text;

        &:active{
          background-color: darken($key-func-background, 5%);
        }
      }

      &--equal {
        background-color: $key-equal-background;
        box-shadow: 0 5px $key-equal-shadow;
        color: $light-text;

        &:active {
          background-color: darken($key-equal-background, 5%);
        }
      }
    }
  }
}
