@use "../abstracts/theme-one-variables" as *;

.theme-1 {
  background: $main-background;

  .app-title {
    color: $light-text;
  }

  .theme-select {
    &__text {
      color: $light-text;
    }

    &__theme label {
      color: $light-text;
    }

    &__tab {
      background-color: $toggle-color;
    }

    &__labels{
      color: $light-text;
    }
  }

  .input-display {
    background-color: $screen-background;

    &__text {
      color: $light-text;
    }
  }

  .calc-input {
    background-color: $keypad-background;

    &__option {
      background-color: $key-nums-background;
      box-shadow: 0 5px $key-nums-shadow;
      color: $key-nums-text-color;

      &--delete,
      &--reset {
        background-color: $key-func-background;
        box-shadow: 0 5px $key-func-shadow;
        color: $light-text;
      }

      &--equal {
        background-color: $key-equal-background;
        box-shadow: 0 5px $key-equal-shadow;
        color: $light-text;
      }
    }
  }
}
