@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body {
  font-size: 1.8rem;
  width: 100%;
}

a,
button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}
