@mixin basic-flex-layout($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin basic-grid-layout($columns, $columnSize, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, $columnSize);
  gap: $gap;
}
