*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: black;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  min-width: 20ch;
  padding: 1.7em;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

section {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 1.2rem;
  padding: 1.6em;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1.6rem;
  color: #7a7a7a;
  background: url("./images/image-hero-mobile.jpg") no-repeat, #f7f7f7;
  background-size: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.btn {
  background-color: #3cb4ac;
  color: white;
  font-weight: bold;
  border-radius: 100px;
}

.backer-reward {
  padding: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 2.4rem;
  background-color: #fff;
}

.backer-reward .reward-title .name {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.backer-reward .reward-title .pledge-amount {
  color: #3cb4ac;
  font-weight: bold;
}

.backer-reward .reward-description {
  margin: 1.5rem 0;
}

.backer-reward .reward-option .amount-left span {
  font-weight: bold;
  color: black;
  font-size: 3rem;
}

.backer-reward button {
  margin-top: 1.5rem;
}

.backer-reward.no-stock {
  opacity: 0.4;
}

.backer-reward.no-stock button {
  background-color: #7a7a7a;
  cursor: initial;
}

#project-header {
  margin-top: 20rem;
  text-align: center;
  position: relative;
}

#project-header .project-logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -2em;
  left: 0;
  right: 0;
}

#project-header .title {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

#project-header .subtitle {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

#project-header .options {
  display: flex;
  justify-content: center;
}

#project-header .options button {
  flex-grow: 1;
  margin-right: 0.5rem;
}

#project-header .options label[for="bookmarked"] {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

#project-header .options label[for="bookmarked"] input {
  position: absolute;
  opacity: 0;
}

#project-header .options label[for="bookmarked"] .bookmark-icon {
  background: url(./images/icon-bookmark.svg) no-repeat center center/cover;
  display: inline-block;
  height: 44px;
  width: 44px;
}

#project-status .stats {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  gap: 2rem;
  justify-content: center;
}

#project-status .stats .stat {
  padding-bottom: 1rem;
}

#project-status .stats .stat:not(:last-child) {
  border-bottom: 1px solid #c7c7c7;
}

#project-status .stats .stat-amount {
  font-size: 2.8rem;
  margin-bottom: 0.8rem;
}

#project-status .status-bar {
  background-color: #ededed;
  height: 15px;
  border-radius: 100px;
  margin-top: 1rem;
}

#project-status .status-bar div {
  width: 89%;
  height: 100%;
  background-color: #3cb4ac;
  border-radius: inherit;
}

#project-description *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.container {
  width: 90%;
  max-width: 140rem;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding-top: 2rem;
  position: relative;
}

nav .site-logo {
  height: 20px;
}

nav .mobile-navigation-list {
  display: none;
  position: absolute;
  width: 100%;
  top: 10vh;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
}

nav .mobile-navigation-list li {
  padding: 1.5em;
}

nav .mobile-navigation-list li:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

nav .mobile-navigation-list li a {
  color: black;
  font-weight: 500;
}

nav .mobile-navigation-list.toggle-view {
  display: block;
}
/*# sourceMappingURL=style.css.map */