// Primary Colors
$-soft-red: hsl(7, 99%, 70%);
$-yellow: hsl(51, 100%, 49%);
$-baby-blue: #3ebfff;
$-dark-desaturated-cyan: hsl(167, 40%, 24%);
$-dark-blue: hsl(198, 62%, 26%);
$-dark-moderate-cyan: hsl(168, 34%, 41%);

// Neutral Colors
$-very-dark-desaturated-blue: hsl(212, 27%, 19%);
$-very-dark-grayish-blue: hsl(213, 9%, 39%);
$-dark-grayish-blue: hsl(232, 10%, 55%);
$-grayish-blue: hsl(210, 4%, 67%);
$-white: #fff;
$-black: #000;

// Applying Variables

// Link Outlines
$yellow-link: $-yellow;
$red-link: $-soft-red;

// Section Colors
$graphic-design-section-text: $-dark-desaturated-cyan;
$photography-section-text: $-dark-blue;
$white-text: $-white;
$black-text: $-black;

// Background-colors
$footer-background: $-dark-moderate-cyan;
$navbar-mobile-background: $-white;
$navbar-mobile-background-contact: $-yellow;
$navbar-triangle-background: $-baby-blue;

// text colors
$navbar-mobile-text: $-dark-grayish-blue;
$navbar-mobile-text-contact: $-black;
