@import "../abstracts/variables";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: $neutral-color-dark;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  min-width: 20ch;
  padding: 1.7em;
  font-family: inherit;
}

input {
  font-family: inherit;
  border: 1px solid black;

  &::--webkit-outer-spin-button,
  &::--webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

ul,
ol {
  list-style: none;
}

section {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 1.2rem;
  padding: 1.6em;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1.6rem;
  color: $dark-gray;
  background: url("./images/image-hero-mobile.jpg") no-repeat,
    darken($color: #fff, $amount: 3%);
  background-size: 100%;
  position: relative;

  &.dark::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
  }
}

// Front End Mentor Attributeion
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
