// Colors
$primary-soft-red: hsl(345, 95%, 68%);
$primary-grayish-blue: hsl(237, 18%, 59%);
$primary-very-dark-purple: hsl(268, 22%, 13%);

$white: hsl(0, 0%, 100%);
$neutral-dark-desaturated-blue: hsl(236, 21%, 26%);
$neutral-very-dark-blue: hsl(235, 16%, 14%);
$neutral-black-blue: hsl(234, 17%, 12%);

// Media Query Breakpoints
