@use "../abstracts/variables" as *;

.btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 30px;
  min-width: 14 ch;
  padding: 0.8em;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  color: $button-default-text-color;
  border: none;

  &--clear {
    border: transparent;
  }

  &--primary {
    border: transparent;
    background: $button-primary-background-color;
    color: $white-text-color;

    &:hover{
      color:$white-text-color;
      background-color: rgba($white-text-color, .4)
    }
  }

  &--action {
    background-color: $white-text-color;
    color: $button-call-to-action-text-color;
    font-family: "Ubuntu";
    
    &:hover{
      color:$white-text-color;
      background-color: rgba($white-text-color, .4)
    }
  }

  &--border-transparent {
    font-family: "Ubuntu";
    border: 1px solid #fff;
    color: #fff;
    
    &:hover{
      color: $button-call-to-action-text-color;
      background-color: $white-text-color;
    }
  }

  @media screen and (min-width: $medium-screen) {
    color: white;

    &--primary {
      background: $white-text-color;
      color: $button-call-to-action-text-color;
    }

    &--action{
      background-color: $white-text-color;
      color: $button-call-to-action-text-color;
    }
  }
}
