@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

#tip-calculator {
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding: 2.5rem;
  @include basic-grid-layout(1, 1fr, 3rem);

  section > div:not(:last-child) {
    margin-bottom: 3rem;
  }

  @media screen and (min-width: 900px) {
    @include basic-grid-layout(2, 1fr, 4rem);
    border-radius: 20px;
    padding: 4rem 3rem;
  }
}

#tip-input {
  .bill {
    &__text {
      color: $header-text-color;
      margin-bottom: 1rem;
    }

    &__input {
      background-color: $bill-input-background;
      min-height: 1em;
      padding: 0.5em 1em;
      border-radius: 5px;
      @include basic-flex-layout(row, center, center, 1rem);
      input {
        background-color: inherit;
        text-align: right;
        color: $bill-input-text-color;
        font-weight: 700;
        font-size: 2.4rem;

        &::placeholder {
          color: $bill-input-text-color-placeholder;
        }
      }

      &.error {
        box-shadow: 0 0 0 2px $error-text-color;
      }

      &:focus-within {
        box-shadow: 0 0 0 2px $bill-input-focus-color;
      }
    }
  }

  .tip-percent {
    &__text {
      color: $header-text-color;
      margin-bottom: 1rem;
    }

    &__container {
      @include basic-grid-layout(2, 1fr, 1.5rem);
      grid-auto-rows: 4.5rem;

      @media screen and (min-width: 900px) {
        @include basic-grid-layout(3, 1fr, 1.5rem);
      }

      input.error {
        box-shadow: 0 0 0 2px $error-text-color;
      }
    }
  }

  .people-amount {
    &__text {
      color: $header-text-color;
      margin-bottom: 1rem;
      @include basic-flex-layout(row, space-between, center, 0);
    }

    &__error {
      color: $error-text-color;
      display: none;

      &.show-error {
        display: block;
      }
    }

    &__input {
      background-color: $bill-input-background;
      min-height: 1em;
      padding: 0.5em 1em;
      border-radius: 5px;
      @include basic-flex-layout(row, center, center, 1rem);
      input {
        background-color: inherit;
        text-align: right;
        color: $bill-input-text-color;
        font-weight: 700;
        font-size: 2.4rem;

        &::placeholder {
          color: $tip-percent-custom-text-placeholder;
        }
      }

      &.error {
        box-shadow: 0 0 0 2px $error-text-color;
      }

      &:focus-within {
        box-shadow: 0 0 0 2px $bill-input-focus-color;
      }
    }
  }
}

#tip-total {
  background-color: $tip-amount-background;
  border-radius: 15px;
  padding: 1.8em 1.5em;

  .tip-display {
    @include basic-flex-layout(row, space-between, center, 1rem);
    &__info {
      color: $white-text;
      font-weight: 700;
    }

    &__per {
      color: $tip-amount-per-person-color;
      font-weight: 700;
    }

    &__result {
      font-size: 3.2rem;
      font-weight: 700;
      color: $tip-amount-tip-total-color;
      word-spacing: 0;
    }
  }

  @media screen and (min-width: 900px) {
    @include basic-flex-layout(column, flex-start, stretch, 1rem);
    padding: 2.5em;

    > *:last-child {
      margin-top: auto;
      justify-self: flex-end;
    }
  }
}
