@import "../abstracts/variables";

.backer-reward {
  padding: 2rem;
  border: 1px solid lighten($color: $neutral-color-light, $amount: 40%);
  border-radius: 10px;
  margin-bottom: 2.4rem;
  background-color: #fff;

  .reward-title {
    .name {
      font-size: 2rem;
      margin-bottom: 0.4rem;
    }
    .pledge-amount {
      color: $primary-color-light;
      font-weight: bold;
    }
  }
  .reward-description {
    margin: 1.5rem 0;
  }

  .reward-option {
    .amount-left span {
      font-weight: bold;
      color: $neutral-color-dark;
      font-size: 3rem;
    }
  }

  button {
    margin-top: 1.5rem;
  }

  &.no-stock {
    opacity: 0.4;
    button {
      background-color: $neutral-color-light;
      cursor: initial;
    }
  }
}
