@import "../abstracts/variables";

#project-header {
  margin-top: 20rem;
  text-align: center;
  position: relative;

  .project-logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -2em;
    left: 0;
    right: 0;
  }

  .title {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  .options {
    display: flex;
    justify-content: center;

    button {
      flex-grow: 1;
      margin-right: 0.5rem;
    }
    label[for="bookmarked"] {
      display: inline-block;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;

        &:checked ~ .bookmark-icon {
          circle {
            fill: $primary-color-light;
          }
          path {
            fill: #fff;
          }
        }
      }

      .bookmark-icon {
        display: inline-block;
        width: 45px;
        height: 45px;
        position: relative;
      }
    }
  }

  @media screen and (min-width: 600px) {
    .options {
      justify-content: space-between;

      button {
        flex-grow: 0;
      }
    }
  }
}

#project-status {
  .stats {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    gap: 2rem;
    justify-content: center;

    .stat {
      &:not(:last-child) {
        border-bottom: 1px solid
          lighten($color: $neutral-color-light, $amount: 30%);
      }
      padding-bottom: 1rem;
      &-amount {
        font-size: 2.8rem;
        // margin-bottom: 0.8rem;
      }
    }
  }

  .status-bar {
    background-color: lighten($color: $neutral-color-light, $amount: 45%);
    height: 15px;
    border-radius: 100px;

    div {
      width: 89%;
      height: 100%;
      background-color: $primary-color-light;
      border-radius: inherit;
    }
  }
}

#project-description {
}
