@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.countdown-clock {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(4, minmax(4rem, 10rem));
  gap: 2rem;
  justify-content: center;

  #{&}__time {
    perspective: 1000px;
    background-color: $neutral-black-blue;
    text-align: center;
    &__card {
      width: 100px;
      height: 50px;
      // Extra Space for when it flips
      margin-bottom: 50px;
      border-radius: 5px;
      position: relative;
      text-align: center;
      transform-origin: bottom center;
      transition: transform 1s ease;
      // transform: rotateX(-180deg);
      transform-style: preserve-3d;

      &::after,
      &::before {
        content: "";
        width: 15px;
        height: 15px;
        background-color: $neutral-black-blue;
        z-index: 1;
        position: absolute;
        bottom: 0;
        border-radius: 100%;
      }

      &::after {
        left: 0;
        transform: translate(-50%, 50%);
      }

      &::before {
        right: 0;
        transform: translate(50%, 50%);
      }

      &__front,
      &__back {
        position: absolute;
        color: $primary-soft-red;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
        font-size: 6rem;
        font-weight: bold;
        border-radius: inherit;
      }

      &__front {
        background-color: $neutral-dark-desaturated-blue;
      }

      &__back {
        background-color: lighten(
          $color: $neutral-dark-desaturated-blue,
          $amount: 10%
        );
        transform: rotateY(180deg);
      }

      &__front p {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
      }

      &__back p {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotateX(0.5turn) scale(-1, 1);
      }
    }
    &__type {
      font-weight: bold;
      font-size: 1.4rem;
      color: $primary-grayish-blue;
      text-transform: uppercase;
      letter-spacing: 4px;
      padding-top: 1rem;
    }
  }
}
