@use "../abstracts/variables" as *;

.header {
  background: url("/src/assets/images/bg-pattern-intro.svg") no-repeat 35% 40%/325%,
    $header-background-color;
  border-bottom-left-radius: 100px;
  min-height: 40vh;
  padding: 4rem 0;

  @media screen and (min-width: $medium-screen){
    background: url("/src/assets/images/bg-pattern-intro.svg") no-repeat 35% 40%/150%,
    $header-background-color;
  }

  &__content {
    text-align: center;
    font-family: "Overpass";
    color: $white-text-color;
    padding-top: 6rem;
    min-height: 30vh;

    & > * {
      margin-bottom: 1.5rem;
    }

    &__title {
      font-size: clamp(3.2rem, 2.5vw, 4rem);
    }

    &__subtitle {
      font-weight: lighter;
    }

    &__action {
      margin-top: 3.5rem;
      & > *:first-child {
        margin-right: 1.5rem;
      }
    }
  }
}
