@use "../abstracts/variables" as *;

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  grid-template-areas:
    "logo menu"
    "nav-menu nav-menu";
  position: relative;
  z-index: 1;

  .site-logo {
    grid-area: logo;
    align-self: center;
  }

  &__open-menu {
    grid-area: menu;
    justify-self: end;
    align-self: center;
    cursor: pointer;
  }

  &__content {
    grid-area: nav-menu;
    background-color: $mobile-navbar-background-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    padding: 2.5em 2em;
    position: absolute;
    left: 0;
    right: 0;
    // display: none;

    &--display {
      display: block;
    }
  }

  &__nav {
    font-family: "Overpass";
    color: $navbar-text-color;
    font-weight: bold;

    &__list {
      display: flex;
      flex-direction: column;

      & > * + * {
        margin-top: 1.2rem;
      }
    }
  }

  &__nav__list__option {
    .nav-arrow {
      padding-left: 0.4rem;
      cursor: pointer;

      &__img {
        transition: transform 0.5s ease;

        &--display {
          transform: rotate(180deg);
        }
      }

      img:last-child {
        display: none;
      }
    }

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  &__nav__list__option__items {
    background-color: darken($mobile-navbar-background-color, 7%);
    padding: 1em 0;
    border-radius: 5px;
    margin-top: 1.5rem;
    // display: none;

    &__item {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &__text {
        color: $navbar-list-item-text-color;
      }
    }
  }

  &__login {
    border-top: 1px solid darken($mobile-navbar-background-color, 15%);
    margin-top: 2rem;
    padding-top: 2.5rem;

    .btn {
      display: block;
      margin: 0 auto;

      &:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}
