// Page Resets
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
}
