// Page Resets
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body {
  font-size: 1.6rem;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  min-height: 100vh;
  padding: 3rem 0;
  display: grid;
  grid-template-rows: auto 1fr;

  @media screen and (min-width: 900px) {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
}
